<h1>Home</h1>
<p>
	This is the home page for the sample application I am building to teach myself Ruby and help build
	<a href="http://www.memoirplace.com/">Memoir Place</a>.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>