<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.solomonkahn.com/">Solomon's Thoughts</a></li>
      <li><a href="http://www.memoirplace.com/">Memoir Place</a></li>
    </ul>
  </nav>
</footer>